# Python virtual environments (anywhere)
**/venv/
**/.venv/

# Python cache
**/__pycache__/
*.pyc

# SQLite DB
db.sqlite3

# Node modules (anywhere)
**/node_modules/

# Environment files (anywhere)
**/.env
**/.env.*
